@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap);

@import 'node_modules/bootstrap/scss/bootstrap';

body {
	font-family: 'Montserrat', sans-serif;
	background: #232426;
}

header {
	background: #181818;
}

p{
	color: #ffffff;
	margin-right: 4em;
}

.front-container{
	margin: 4em;
}

a{
	color:#17E6FF ;
}

.navbar {
	&-brand {
    align-items: center;
	background: #181818;

		h1 {
			font-size: 22px;
			line-height: 1.6;
			padding: 0;
			margin: 0;
			font-weight: 800;

			a {
				display: block;
				color: #ffffff;
			}
		}
		h6 {
			font-size: 12px;
		}
	}

	.navbar-collapse {
		margin-left: 10px;
		background: #181818;

		.navbar-nav {
			
			.nav-link {
				color: #ffffff;
				&.is-active {
					font-weight: 600;
					position: relative;
				}
			}
		}
	}
}

.contextual-region {
	margin-bottom: 2em;
}

.field__label{
	color: #ffffff;
}

.field__item{
	color: #ffffff;
}

.book-list {
	list-style: none;
  padding: 0;
  margin: 0;

	.book-item {
    padding: 1rem;

		img {
			width: 100%;
		}

    a {
		color: #ffffff;
      text-decoration: none;
    }
	}
}

.front-section{
	background: url("https://images.ecestaticos.com/MUsrmUgYGUwR5M6ZyyHCDmeFRUk=/0x0:2121x1414/1200x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2Fd9e%2F66d%2F793%2Fd9e66d793adbc994841e60850a17e61c.jpg");
}

.background-size{
	padding: 10em 0em;
}

.footer {
	background-color: #181818;
	.footer-color{
		color:#ffffff;
	}
}

.taxomy-term {
	padding: 0.5rem 1.25rem;

	a {
		color: #ffffff;
		text-transform: capitalize;
		font-weight: 400;
	}
}
