<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://sertacentroamerica.com/costarica/wp-content/uploads/sites/3/2021/05/placeholder-106.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://sertacentroamerica.com/costarica/wp-content/uploads/sites/3/2021/05/placeholder-106.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://sertacentroamerica.com/costarica/wp-content/uploads/sites/3/2021/05/placeholder-106.png" class="d-block w-100" alt="...">
        </div>
    </div>
</div>
